* {
    margin: 0;
    text-decoration: none;
    padding: 0;
}

body {
    /* font-size: 14px; */
    /* color: #333; */
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    overflow-x: hidden;

    /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(4, 4, 4);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.wrapper {
    width: 100%;
}

/* section pertama  */
.wrapper-first {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    height: 100vh;
}

/* navbar  */
nav {
    width: 100%;
    font-family: "PT Sans Caption", sans-serif;
    height: 75px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    /* padding: 0 20px; */
    left: 0;
    top: 0;
    position: absolute;
    justify-content: space-between;
    z-index: 10;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    float: left;
    margin-right: 10px;
}

nav ul li a {
    display: block;
    /* padding: 15px; */
    color: #d3dfe8;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ed565b;
}

nav .active {
    color: #ed565b;
}

nav .logo,
nav .ticket {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* width: 15%; */
    padding: 0 55px;
}

nav .logo {
    width: 145px;
}

nav .logo img {
    width: 100%;
    height: 100%;
}

nav .ticket {
    gap: 20px;
    /* width: 100%; */
}

nav .ticket a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

nav .ticket i {
    color: #fff;
}

/* content  */
/* background konten pertama */
.content-first {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
        url("./images/mount-merapi.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    /* display: table; */
    display: block;
    position: relative;
    left: 0;
    top: 0;
    overflow-x: hidden;
}

.content-main {
    position: relative;
    top: 25%;
    left: 15%;
    width: 50%;
}

.content-main .Negara {
    position: relative;
    font-family: "PT Sans Caption", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #f5f5f5;
}

.content-main h1 {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /* line-height: 62px; */
    font-family: "PT Sans Caption", sans-serif;
    text-transform: uppercase;
    margin: 15px 0;
    color: #fff;
}

.lil-line {
    position: relative;
    width: 57px;
    height: 4px;
    margin-bottom: 15px;
    background: #f6353d;
}

.content-main a {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    /* padding-top: 15px; */
    line-height: 20px;
    color: #f5f5f5;
    margin-bottom: 15px;
    position: relative;
}

.content-main .profile {
    position: relative;
    display: flex;
    margin-top: 15px;
}

.profile-img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.profile-img img {
    width: 100%;
    height: 100%;
}

.profile-name {
    position: relative;
    font-family: "PT Sans Caption", sans-serif;
    font-style: normal;
    /* font-weight: normal; */
    font-size: 13px;
    line-height: 23px;
    color: #f5f5f5;
    display: flex;
    gap: 6px;
    align-items: center;
}

.profile-name p:nth-child(1) {
    font-weight: 700;
}

/* line sidebar  */
.line-sidebar-wrapper {
    left: 50px;
    top: 30%;
    /* top: 297px; */
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 10px; */
}

.line-sidebar-wrapper p {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
    transform: rotate(-90deg);
    font-family: "PT Sans Caption", sans-serif;
}

.line-sidebar {
    position: relative;
    width: 2px;
    height: 391px;
    /* padding: 50px; */
    z-index: 1;
    background: linear-gradient(180deg,
            #d0d0d0 1.53%,
            rgba(0, 0, 0, 0.31) 99.99%,
            rgba(0, 0, 0, 0.31) 100%);
}

/* slide content  */
.slide-first {
    /* width:; */
    position: absolute;
    top: 30%;
    /* right: -500px; */
    right: 0;
    width: 40%;
}

.swiper-wrapper {
    gap: 10px !important;
}

.swiper-slide {
    width: 210px !important;
    height: 266px !important;
    object-fit: cover;
    position: relative !important;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: grab;
    position: relative;
}

.swiper-slide p {
    position: absolute;
    /* z-index: 2; */

    bottom: 0;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 700;
    font-family: "PT Sans Caption", sans-serif;
    padding-left: 16px;
    padding-bottom: 24px;
}

/* slide control  */
.control-slide {
    width: 100%;
    display: flex;
    z-index: 1;
    bottom: 0;
    position: relative;
    flex-direction: row-reverse;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 30px;
}

.arrow-slide {
    /* display: block  !important; */
    z-index: 1;
    gap: 16px;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-left: 0;
    left: 0;
}

.arrow-slide i {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.arrow-slide i:hover {
    color: #ed565b;
}

.swiper-pagination-bullet-active {
    /* opacity: var(--swiper-pagination-bullet-opacity, 1); */
    position: relative !important;
    background: #f6353d !important;
    /* bottom: 0 !important; */
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0 !important;
    position: relative !important;
}

/* section kedua  */
.wrapper-second {
    background: #000;
    height: 60vh;
    position: relative;
}

.content-second {
    position: relative;
    top: 0%;
}

.content-main .Perkenalkan {
    font-family: "PT Sans Caption", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #929292;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-main h2 {
    font-size: 32px;
    font-family: "PT Sans Caption", sans-serif;
    position: relative;
    font-style: normal;
    font-weight: 700;
    /* line-height: 62px; */
    text-transform: lowercase;
    margin: 15px 0;
    color: #fff;
}

/* list about content  */
.list-about {
    /* display: flex;
    align-items: center;
    margin-right: 30px; */
    display: inline-grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    grid-gap: 10px;
    left: 11.25%;
    position: relative;
}

.list-child {
    display: flex;
    align-items: center;
}

.list-child h3 {
    font-family: "PT Sans Caption", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    margin-right: 15px;
    color: rgba(170, 170, 170, 0.18);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-flex p {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.list-flex a {
    font-family: "PT Sans Caption", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #d0d0d0;
    text-decoration: none;
}

.list-image {
    position: relative;
    top: -10px;
    left: -10px;
}

/* grid image  */
.grid-img {
    position: absolute;
    width: 450px;
    top: 0;
    right: 5%;
}

.grid-wrapper {
    position: relative;

    /* top: -10px; */
    z-index: 1;
    /* width: 420px; */
    /* height: 210px; */
}

.grid-wrapper .img-1 {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.flex-img {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 6px;
    width: 100%;
}

.grid-img .img-2,
.grid-img .img-3 {
    width: 100%;
    object-fit: cover;
}

.img-1 img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.img-2 img,
.img-3 img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.more {
    padding-top: 15px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
}

.more-wrapper {
    gap: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.more a {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    position: relative;
}

.more i {
    position: relative;
    color: #fff;
}

/* section ketiga  */
.wrapper-third {
    background: rgb(245, 245, 245);
    height: auto;
    /* color: #000 !important; */
    position: relative;
}

.content-third {
    position: relative;
    top: 0;
}

.content-intro {
    font-family: "Open Sans", sans-serif;
    padding: 100px 50px 0px 50px;
}

.content-text-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-intro h2 {
    font-size: 34px;
    /* font-family: "PT Sans Caption", sans-serif; */
    position: relative;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
    line-height: 50px;
}

.content-intro p {
    /* font-family: 'PT Sans Caption', sans-serif; */
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #f6353d;
}

.content-intro a {
    /* font-family: "PT Sans Caption", sans-serif; */
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.destinasi-wrapper {
    padding-top: 25px;
    position: relative;
}

.destinasi-show {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 50px;
    gap: 20px;
}

.destinasi-img {
    width: 100%;
    height: 425px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-family: "Open Sans", sans-serif;
}

.destinasi-img img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.destinasi-img p {
    position: absolute;
    bottom: 0;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 700;
    /* font-family: "PT Sans Caption", sans-serif; */
    padding-left: 16px;
    padding-bottom: 24px;
    text-transform: capitalize;
    text-align: center !important;
}

.destinasi-img:hover img {
    transform: scale(1.4);
}

/* section fourth */
.wrapper-fourth {
    padding-top: 150px;
    background: rgb(245, 245, 245);
    height: auto;
    /* color: #000 !important; */
    position: relative;
}

.content-fourth {
    position: relative;
    /* top: 0; */
}

.content-maps {
    position: relative;
    padding: 0px 75px;
}

.content-maps-text {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    /* justify-content: center; */
}

.content-maps-text a {
    font-weight: 700;
    font-size: 14px;
    color: #f6353d;
    text-decoration: none;
}

.content-maps-text h2 {
    font-size: 34px;
    position: relative;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
    line-height: 50px;
}

.content-maps-text p {
    font-size: 16px;
    line-height: 26px;
    color: #000;
    width: 65%;
}

.container-maps,
iframe {
    display: flex;
    align-items: center;
    width: 100%;
}

iframe {
    padding-top: 40px;
    border-radius: 8px;
}

/* about  */
.content-about {
    position: relative;
}

.content-ab-flex {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    position: relative;
    /* padding: 0 50px; */
    gap: 20px;
    padding-top: 35px;
}

.info-about {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
}

.info-about i {
    font-size: 20px;
    color: #323232;
    background: #ffffff;
    padding: 12px;
    border-radius: 50%;
}

.info-about span {
    /* padding: 10px; */
    position: relative;
}

.info-about p {
    font-size: 18px;
    color: #323232;
    font-weight: 700;
    line-height: 20px;
}

.info-about a {
    font-size: 14px;
    color: #323232;
    text-decoration: none;
}

/* section kelima */
.wrapper-fifty {
    padding-top: 150px;
    background: rgb(245, 245, 245);
    height: auto;
    position: relative;
}

.content-fifty {
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* left konten  */
.content-black {
    position: relative;
    padding: 0px 0px;
}

.content-black h2 {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /* line-height: 62px; */
    font-family: "PT Sans Caption", sans-serif;
    text-transform: uppercase;
    margin: 15px 0;
    color: rgb(0, 0, 0);
}

.content-black p {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #f6353d;
}

/* review  */
.content-review {
    padding: 50px 0px;
    font-family: "PT Sans Caption", sans-serif;
}

.content-status {
    height: 620px;
    width: 300px;
    background: #ffffff;
    box-shadow: -1px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 30px 20px;
}

/* date input  */
.input-date {
    position: relative;
    display: flex;
    align-items: center;
}

.input-date:after {
    content: "\f107";
    display: block;
    font-size: 1rem;
    background: none;
    position: absolute;
    /* right: 0; */
    margin-right: 20px;
    right: 0;
    font-family: "Font Awesome 6 Pro";
    font-weight: 400;
}

.input-date input {
    cursor: pointer;
}

input.date {
    border-radius: 5px;
    height: 12px;
    padding: 12px 0px;
    width: 100%;
    outline: none;
    transition: all ease 400ms;
    border: 1px solid #c4c4c4;
}

.date::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 100%;
}

.date::after {
    content: "Select Date";
    position: absolute;
    color: #646464;
    font-size: 16px;
    position: absolute;
    left: 45px;
    cursor: pointer;
}

.date::before {
    content: "\f133";
    font-family: "font";
    font-family: "Font Awesome 6 Pro";
    position: absolute;
    left: 15px;
    color: #c4c4c4;
    font-size: 18px;
}

.duration h3,
.price h3,
.special h3,
.star h3 {
    padding-bottom: 20px;
    font-size: 20px;
}

/* Price  */

.price {
    position: relative;
    padding-top: 50px;
}

.input-value {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.value {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.value p {
    color: #818181;
}

input.range {
    width: 100%;
    /* margin-top: 25px; */
    color: #f6353d;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    margin-top: 20px;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

​input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
}

/* special  */
.special {
    position: relative;
    padding-top: 50px;
}

.input-check {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    color: #818181;
}

.input-check input {
    color: #e74c3c;
}

input[type="checkbox"i] {
    width: 16px;
    height: 16px;
    border: 1px solid #c4c4c4;
}

/* rating */
.rating {
    position: relative;
    padding-top: 50px;
}

.star-rating {
    display: flex;
    align-items: center;
    color: #ecb640;
    font-size: 20px;
    padding-top: 20px;
    gap: 10px;
}

input {
    cursor: pointer;
}

.content-fifty-left {
    position: relative;
    padding: 0px 75px;
}

/* right  */
.content-fifty-right {
    position: relative;
    padding-right: 75px;
    width: 100%;
    padding-bottom: 100px;
}

/* nav konten */
.nav-ready {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.nav-ready ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #646464;
    gap: 30px;
    font-size: 20px;
    font-family: "PT Sans Caption", sans-serif;
    list-style: none;
}

.nav-ready ul li {
    color: #646464;
}

.nav-ready ul li a {
    color: #646464;
    cursor: pointer;
}

.nav-ready ul li a.active,
.nav-ready ul li a:hover {
    color: #f6353d;
    font-weight: 700;
}

/* info  */
.info-ready {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    /* padding-bottom: 50px; */
}

.card-info {
    display: flex;
    /* align-items: center; */
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    gap: 16px;
}

.card-info span {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: "PT Sans Caption", sans-serif;
    width: 65%;
}

.card-info span h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.card-info span p {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
}

.card-img {
    width: 35%;
    height: 215px;
    display: flex;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.detail-info {
    gap: 24px;
    width: 100%;
    justify-content: space-between;
}

.so-detail {
    display: flex;
    align-items: center;
    gap: 25px;
}

.star-rating-lil {
    display: flex;
    color: #ecb640;
}

.time-info {
    gap: 6px;
}

.time-info,
.price-info,
.detail-info {
    display: flex;
    align-items: center;
}

.indicator-slide {
    position: relative;
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "PT Sans Caption", sans-serif;
    width: 100%;
    justify-content: flex-end;
}

.indicator-slide a {
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.indicator-slide i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c4c4c4;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.ac-indicator {
    background: #334060 !important;

}

.ac-numb {
    color: #000 !important;
}

footer {
    position: relative;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    background: #334060;
    color: #fff;
    font-family: "PT Sans Caption", sans-serif;
    height: 275px;
}

.content-footer {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-footer {
    width: 150px
}

.content-footer img {
    width: 100%;
    height: auto;
}

.footer-bottom {
    background: #28334f;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px 0;
    display: flex;

}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-weight: 700;
}


/* responsive  */
@media only screen and (max-width: 1024px) {

    /* h1 = 30 , h2 = 20, h3 = 18, h4 = 16, h5 = 14, h6 = 12; */
    .content-main h1 {
        font-size: 30px;
    }

    .content-main .Negara ,.content-main .Perkenalkan,nav ul li a  {
        font-size: 14px;
    }

    .swiper-slide {
        width: 180px !important;
        height: 236px !important;
    }

    .content-main a {
        font-size: 12px;
        line-height: 15px;
    }

    .profile-name {
        font-size: 11px
    }

    .swiper-slide p {
        font-size: 16px;
    }

    nav .ticket a,.list-flex a,.more a {
        font-size: 13px;
    }

    nav .ticket i {
        font-size: 15px;
    }

    nav .logo {
        width: 135px;
    }

    .content-main h2 {
        font-size: 28px;
    }

    .list-flex p {
        font-size: 15px;
        line-height: 20px;
    }
    .grid-img {
        width: 400px;
    }
    .line-sidebar-wrapper {
        left: 35px;
    }
    .content-main {
        left: 12.5%;
    }
    .list-child h3 {
        font-size: 45px;
    }
    .wrapper-second{
        height: 65vh;
    }
    .destinasi-img {
        height: 290px;
    }
}